pkgbase = stear-keyboard
	pkgdesc = Simple remote keyboard
	pkgver = 0.1
	pkgrel = 2
	url = https://gitlab.gnome.org/tallero/stear-keyboard
	arch = any
	license = AGPL3
	makedepends = python-setuptools
	depends = python-appdirs
	depends = python-keyboard
	depends = python-gnupg
	depends = python-setproctitle
	source = https://gitlab.gnome.org/tallero/stear-keyboard/-/archive/0.1/stear-keyboard-0.1.tar.gz
	sha256sums = f0694c7845b2f4effd1e1a95a7aae2ba32192c897732033685a7508cc0ca98cf

pkgname = stear-keyboard
